<section  class="section footer-banner">
        <div  data-scroll class="container bg-primary pattern py-5">
          <div class="row">
            <div class="col-lg-7 offset-lg-1">
                <h5 class="h2 text-white">Jetzt anmelden und Zukunft gestalten.</h1>
             </div>
             <div class="col-lg-4">
                 <button  type="button" data-toggle="modal" data-target="#signupModal" class="btn btn-outline-light  py-3 px-5 ">Anmelden</button>  
             </div>
        </div>
    </div>
</section>