<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
        <div class="modal-dialog container" role="document">
          <div class="modal-content">
            <div class="modal-header border-0">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  <svg class="icon" width="64px" height="64px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="icon/Close" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="AC_Icon_Burger_RGB_Schwarz" transform="translate(15.000000, 14.000000)" fill="#000000" fill-rule="nonzero">
                          <rect id="Rectangle" transform="translate(17.950000, 17.860000) rotate(-45.000000) translate(-17.950000, -17.860000) " x="-4.05" y="15.86" width="44" height="4"></rect>
                      </g>
                      <g id="AC_Icon_Burger_RGB_Schwarz" transform="translate(32.500000, 32.500000) rotate(-90.000000) translate(-32.500000, -32.500000) translate(15.000000, 15.000000)" fill="#000000" fill-rule="nonzero">
                          <rect id="Rectangle" transform="translate(17.950000, 17.860000) rotate(-45.000000) translate(-17.950000, -17.860000) " x="-4.05" y="15.86" width="44" height="4"></rect>
                      </g>
                  </g>
              </svg></span>
              </button>
            </div>
            <div class="modal-body">
                {{ with site.Data.anmeldung }}
                    <div class="row mb-5">
                      <div class="col-lg-8 offset-lg-1">
                      <h4 class="modal-title" id="signupModalLabel">{{  .title }}</h4>
                      <div class="lead-big">
                          {{  .text }}
                      </div>  
                    </div>
                    </div>
                    
                    {{ end }}
                    
                    <div class="row">
                      <div class="col-lg-9 offset-lg-2">


                <form id="anmeldeform" action="{{site.Params.anmeldung.form_action}}" method="POST" >


                    <div class="mb-4  form-row">
                    <div class="col-lg-6">
                        <select class="custom-select" name="kurs" required>
                        <option value="" selected>Training auswählen...</option>
                        {{ $t := where .Site.RegularPages "Section" "trainings"}}
                        {{ range $t }}
                        <option value="{{ .Title }}">{{ .Title }}</option>
                        {{ end }}

                        
                        
                      </select>
                      </div>
                      </div>


                    <div class="mb-4">
                      <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="select_einzelperson" name="person_team" value="Einzelperson"  class="custom-control-input" required>
                          <label class="custom-control-label" for="select_einzelperson">Einzelperson</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="select_team" name="person_team" value="Team"  class="custom-control-input">
                          <label class="custom-control-label" for="select_team">Team</label>
                        </div>
                      </div>
                  
                  
                      <div class="mb-4">
                      <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="anrede_frau" name="anrede" value="Frau" class="custom-control-input" required>
                          <label class="custom-control-label" for="anrede_frau">Frau</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="anrede_herr" name="anrede" value="Herr" class="custom-control-input">
                          <label class="custom-control-label" for="anrede_herr">Herr</label>
                        </div>
                      </div>
      
      
                    <input type="text" id="name" name="name" placeholder="Name *" class="form-control form-control-lg  mb-4" required>
                    
                    <input type="text" id="vorname" name="vorname" placeholder="Vorname *" class="form-control form-control-lg  mb-4" required>
                    
                    <div class="form-row">
                      <div class="col-lg-9">
                        <input type="text" id="firma" name="firma" placeholder="Firma" class="form-control form-control-lg  mb-4">
                        </div>
                      <div class="col-lg-3">
                        <input type="number" id="personen" name="anzahl_personen" placeholder="Anzahl Personen" class="form-control form-control-lg  mb-4">
                        </div>

                      </div>
                   
                    <input type="email" id="email" name="email" placeholder="E-Mail *" class="form-control form-control-lg mb-4" required>
                    
                    <input type="text" id="telefon" name="telefon" placeholder="Telefon" class="form-control form-control-lg mb-4">
                  
                    <input type="text" name="fortytwo" style="display:none">

                    <textarea name="nachricht" id="nachricht" class="form-control form-control-lg mb-4"
                      placeholder="Nachricht"></textarea>
                  
                      <div class="custom-control custom-checkbox mb-4">
                          <input type="checkbox" class="custom-control-input" id="agb_check" required>
                          <label class="custom-control-label small" for="agb_check"> Ich habe die <a href="/datenschutz" target="_blank" rel="noopener">Nutzungsbedingungen</a> der Website gelesen und bin damit einverstanden.
                            </label>
                        </div>
      
                    <button class="btn btn-outline-primary  py-3 px-5 ">Senden</button>
                  
                </form>
              </div>  
            </div>
            </div>
       

            </div>
            
          </div>
        </div>
      </div>
