.ueber-uns{
  .wide-banner {
    margin-bottom: 9rem;
    height: 40vw;
    background-position: center center;
    background-size: cover;
  }
  .images {

    .img-1 {
      //width: 100%;
      margin-top: 30%;

      @include media-breakpoint-up(md) {
        //width: 40%;
      }
    }
  }
}


