.form-control,
.custom-select {
    outline: none;
    display: block;
    width: 100%;
    //height: calc(1.5em + 0.75rem + 2px);
    //padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary) !important;
    background-color: transparent;
    background-clip: padding-box;
    border-color: $AC-Blue;
    border-color: var(--primary);
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    box-shadow: none !important;
    transition: border-color 0.15s ease-in-out, border-width 0.15s ease-in-out;

    &:focus {
      border-width: 2px;
      border-color: $AC-Blue;
      border-color: var(--primary);
    }
}

#mc_embed_signup {
  input.email {
    background: transparent !important;
    border-right: none;
  }
  #mc-embedded-subscribe {
    //color:  var(--primary);
    //background: transparent !important;
    // border-right: 1px solid;
    // border-bottom: 1px solid;
    border: 0;
    &:hover {
      background:var(--primary) !important;
    }
  }
  & div.mce_inline_error {
    margin: 0 !important;
    padding: 5px 10px !important;
    background-color: transparent !important;
    font-weight: normal !important;
    z-index: 1 !important;
    color: #C10100 !important;
    width: 100% !important;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--primary) !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--primary) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--primary) !important;
}

input[name="fortytwo"] {
  display: none
}
