.modal-dialog {
  
  
  @include media-breakpoint-up(md) {
    max-width: 720px;
  }

  @include media-breakpoint-up(lg) {
        max-width: 960px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 1140px;
  }
}

 

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    outline: 0;
}

.modal-backdrop {
  background-color: var(--primary);
  &.show {
    opacity: 1;
    background-image: url("../images/AC_Muster_2_RGB_Weiss@2x.png");
    background-attachment: fixed;
    background-size: 150%;
  }
}