@include media-breakpoint-up(lg) {
  .box-training {
    .box {
      &:first-child {
        border-right-width: 0.5rem;
      }
      &:last-child {
        border-left-width: 0.5rem;
      }
    }

    .collapse  {
         display: block !important;
         opacity: 1 !important;
    }
    [data-toggle="collapse"] {
        pointer-events: none;
    }
    .icon-plus {
      display: none;
    }

  }
}

.sticky {
   transition:  box-shadow 0.2s ease-in-out;

   &.is-sticky {
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    //z-index: 2;
  }
}