/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";


$AC-Red: #7d0f4b;
$AC-Blue: #074761;
$AC-Green: #36735c;
$AC-Yellow: #d08f4c;
$black: #000;
$dunkelgrau: #959595;

$theme-colors: (
  primary: $AC-Blue,
  primary-light: #e7ecee,
  dark: #1a1a1a,
  light-gray: #f7f7f7,
  brown: #93795a,
);
