{{ define "main" }}

{{ with .Params.lead }}
  {{ partial "lead.html" . }}
{{ end }}


<!-- adresse -->
<section class="section contact-form my-5">
  <div class="container">
    <div class="row">

      <div class="col-lg-9 offset-lg-3">
            <form id="adress" action="/backend/form" method="POST" >

              <div class="mb-4">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="anrede_frau" name="anrede" value="Frau" class="custom-control-input" required>
                    <label class="custom-control-label" for="anrede_frau">Frau</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="anrede_herr" name="anrede" value="Herr" class="custom-control-input">
                    <label class="custom-control-label" for="anrede_herr">Herr</label>
                  </div>
                </div>


              <input type="text" id="vorname" name="vorname" placeholder="Vorname *" class="form-control form-control-lg  mb-4" required>

              <input type="text" id="name" name="name" placeholder="Name *" class="form-control form-control-lg  mb-4" required>

              <input type="text" id="strasse" name="strasse" placeholder="Strasse *" class="form-control form-control-lg  mb-4" required>

              <input type="text" id="plz_ort" name="plz_ort" placeholder="PLZ/Ort *" class="form-control form-control-lg mb-4" required>

              <input type="hidden" id="giveaway" name="giveaway" value="giveaway">

              <input type="text" name="fortytwo" style="display:none">

              <button class="btn btn-outline-primary  py-3 px-5 ">Senden</button>

          </form>
       </div>
    </div>
  </div>
</section>
<!-- /adresse -->



{{ end }}
