{{ define "main" }}

{{ with .Params.lead }}
  {{ partial "lead.html" . }}
{{ end }}



<!-- trainigs -->
<section class="section">
  <div class="container">
    
    
    
      <div class="row my-5">
        <div class="col-lg-9 offset-lg-1">
          {{ .Content }}
        </div>
      </div>
   

    <div class="row my-5">
        <div class="col-lg-11 offset-lg-1">
        {{ range .Data.Pages }}
          {{ partial "box-training" . }} 
        {{ end }}
        </div>
    </div>
  </div>
</section>
<!-- /portfolio -->

{{ partial "banner-anmelden.html" . }}


{{ end }}