{{ define "main" }}

{{ if site.Data.homepage.slideshow.enable }}
{{ with site.Data.homepage.slideshow }}
<div class="main-carousel mb-5">
    {{ range .item }}
    <div class="carousel-cell container">
        <div class="d-flex">
          <div class="img-container mt-5"><img src="{{ .img1 | relURL}}" alt="" class="img-fluid"></div>
          <div class="img-container"><img src="{{ .img2 | relURL}}" alt="" class="img-fluid"></div>
          <div class="img-container align-self-end mb-5"><img src="{{ .img3 | relURL}}" alt="" class="img-fluid"></div>
        </div>

      <div class="row w-100">
        <div class="col-11 col-lg-5 bg-primary p-5 text-white h-100 box">
            {{.ubertitle }}
            <h3 class=" mb-0">{{.title }}</h3>
            {{ if .subtitle}} <div class="category mb-3">{{.subtitle }}</div> {{ end }}
           {{ if .URL}} <a href="{{ .URL | relURL }}" class="btn btn-outline-light   py-3 px-5">{{.label}}</a> {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }}
  {{ end }}

  <!-- about -->
  <section  class="section section-about my-5">
    <div data-scroll  class="wide-banner text-white bg-primary pattern pt-5 ">
    
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          {{ with site.Data.homepage.about }}
          {{.title}}
          <p class="font-secondary lead-big">{{.content | markdownify}}</p>
          {{ if .button.enable }}
            {{ with .button }}
            <a href="{{ .URL | absURL }}" class="btn btn-outline-light">{{.label}}</a>
            {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
    </div>
    <div class="container images">
      <div class="row">
        <div class="col-lg-10 offset-lg-2 d-flex align-items-start">
            <div data-scroll  class="img-1">
            <img src="{{ `/images/home/ACEND_Workshop_Laptop@4x.jpg` | relURL}}" alt="" class="img-fluid">
          </div>
          <div data-scroll class="img-2">
            <img src="{{ `/images/home/ACEND_Workshop_Teacher_Supports@4x.jpg` | relURL}}" alt="" class="img-fluid"></div>

        </div>      
        
      </div>
    </div>

  </section>
  <!-- /about -->
  
  <!-- trainings -->
  <section class="section my-5">
    <div class="container">
      <h2  class="mb-3">Unsere Trainings</h2>
      <div class="row">
        <div class="col-11 col-lg-9 offset-1 mb-5">
          <p>Unsere Trainings bestehen aus abwechslungs­reichen Präsentationen und Hands-on Labs, um deren Inhalt auf spannende Art und Weise zu übermitteln. Gerne nehmen wir in Absprache auch Bezug auf Ihre Infrastruktur. Bei Bedarf für weitere Inhalte können wir auf Ihren Wunsch hin Anpassungen vornehmen.</p>
        </div>
      </div>  
      <div class="row">
        <div class="col-lg-11 offset-lg-1">
          {{ $t := where .Site.RegularPages "Section" "trainings"}}
          {{ range $t }}
          {{ partial "box-training" . }} 
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  <!-- /trainings -->
  
  <!-- testimonials -->
{{ if site.Data.homepage.testimonials.enable }}
{{ with site.Data.homepage.testimonials }}
<section data-scroll class="section my-5">
  <div class="testimonial-carousel">
    {{ range .testimonial }}
    <div class="container carousel-cell">
    <div class="row">
      
      <div class="col-lg-9 offset-1 offset-lg-2 ">
          
           <div class=" row mx-0 pb-5 bg-primary text-white testimonial">
            <div class="col-5 p-0 img">
              <img src="{{ .image | relURL }}" class="img-fluid">
            </div>
            <div class="col-7 mt-5 mb-md-5 offset-1 px-0">
              <div class="d-flex">
                <svg class="icon icon-white  img-fluid flex-shrink-0 mr-3" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="icon/Sprechblase" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="AC_Icon_Master_Pfade_AC_Icon_Sprechblase" transform="translate(6 12)" fill="#ffffff" fill-rule="nonzero"><path id="Path" d="M0 0v41l12.52-7H40v-4H11.48L4 34.18V4h44v26h-4v4h8V0z"/><path id="Rectangle" d="M12 10h28v4H12zm0 10h24v4H12z"/></g></g></svg>
              <p>{{.title  | safeHTML }}</p></div>

              <p class="quote d-none d-md-block">{{.text  | markdownify }}</p>
             </div>
            <div class="col d-md-none">
               <p class="quote">«{{.text  | markdownify }}»</p>
            </div>
          </div>
 
        
        </div>
     </div>
    </div>
        {{ end }}
      
  </div>
</section>
{{ end }}
{{ end }}
<!-- /testimonials -->
  
  <!-- partner -->
  {{ if site.Data.homepage.partner.enable }}
  {{ with site.Data.homepage.partner }}
  <section class="section my-5">
    <div class="container">
        <h2  class="mb-3">{{  .title | markdownify }}</h2>
        <div class="row">
          <div class="col-11_ col-lg-10 offset-lg-1 mb-3">
              <div class="row">
 
              {{ range .item }}
                  <div data-scroll class="col-6 mb-4">
                      <div class="mb-3 bg-primary p-4 text-center">
                          <img src="{{ .logo | relURL}}" alt="" class="py-3 img-fluid">
                        </div>
                      <p>
                          {{  .text | markdownify }}
                      </p>

                      {{ if .URL}} <a href="{{ .URL | relURL }}" class="btn btn-outline-light">{{.label}}</a> {{ end }}
                  </div>
                  {{ end }}
              </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /partner -->
  
{{ end }}
{{ end }}

{{ partial "banner-anmelden.html" . }}

{{ end }}
