{{ define "main" }}

{{ if site.Data.homepage.slideshow.enable }}
{{ with site.Data.homepage.slideshow }}
<div class="main-carousel mb-6">
    {{ range .item }}
    <div  class="carousel-cell container py-5">
        <div class="d-flex">
          <div class="img-container mt-5" id="l1"><img  src="{{ .img1 | relURL}}" alt="" class="img-fluid"></div>
          <div class="img-container" id="l2"><img  src="{{ .img2 | relURL}}" alt="" class="img-fluid"></div>
          <div class="img-container align-self-end mb-5" id="l3"><img  src="{{ .img3 | relURL}}" alt="" class="img-fluid"></div>
        </div>

      <div class="row w-100">
        <div class="col-11 col-lg-5 bg-primary p-5 text-white h-100 box ">
            <div class="h4">{{.ubertitle }}</div>
            <h3 class="lead-big mb-0">{{.title }}</h3>
            {{ if .subtitle}} <div class="category mb-3 mb-lg-4">{{.subtitle }}</div> {{ end }}
           {{ if .URL}} <a href="{{ .URL | relURL }}" class="btn btn-outline-light   py-3 px-5">{{.label}}</a> {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }}
  {{ end }}

  <!-- about -->
  <section  class="section section-about my-5">
    <div data-scroll  class="wide-banner text-white bg-primary pattern pt-5 ">
    
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          {{ with site.Data.homepage.about }}
          <div class="h4">{{.title}}</div>
          <p class="lead-big">{{.content | markdownify}}</p>
          {{ if .button.enable }}
            {{ with .button }}
            <a href="{{ .URL | absURL }}" class="btn btn-outline-light">{{.label}}</a>
            {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
    </div>
    <div class="container images">
      <div class="row">
        <div class="col-lg-10 offset-lg-2 d-flex align-items-start ">
            <div data-scroll  class="img-1">
            <img src="{{ `/images/home/ACEND_Workshop_Laptop@4x.jpg` | relURL}}" alt="" class="img-fluid">
          </div>
          <div data-scroll class="img-2">
            <img src="{{ `/images/home/ACEND_Workshop_Teacher_Supports@4x.jpg` | relURL}}" alt="" class="img-fluid"></div>
        </div>      
        
      </div>
    </div>

  </section>
  <!-- /about -->
  
  <!-- trainings -->
  <section class="section section mt-5 mb-6">
    <div class="container">
        {{ with site.Data.homepage.trainings }}
      <h2  data-scroll  class="mb-3">{{ .title }}</h2>
      <div class="row">
        <div  data-scroll  class="col-11 col-lg-9 offset-1 mb-5">
          <p>{{ .text | markdownify }}</p>
        </div>
      </div>  
      {{ end }}
      <div class="row">
        <div class="col-lg-11 offset-lg-1">
          {{ $t := where .Site.RegularPages "Section" "trainings"}}
          {{ range $t }}
          {{ partial "box-training" . }} 
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  <!-- /trainings -->
  
  <!-- testimonials -->
{{ if site.Data.homepage.testimonials.enable }}
{{ with site.Data.homepage.testimonials }}

  {{ partial "testimonials.html" . }}

{{ end }}
{{ end }}
<!-- /testimonials -->
  
  <!-- partner -->
  {{ if site.Data.homepage.partner.enable }}
  {{ with site.Data.homepage.partner }}
  <section class="section my-5">
    <div class="container">
        <h2  class="mb-3">{{  .title | markdownify }}</h2>
        <div class="row">
          <div class="col-11_ col-lg-10 offset-lg-1 mb-3">
              <div class="row">
 
              {{ range .item }}
                  <div data-scroll class="col-md-6 mb-4">
                      <div class="mb-3 bg-primary p-4 text-center">
                          <img src="{{ .logo | relURL}}" alt="" class="py-4 img-fluid">
                        </div>
                      <p>
                          {{  .text | markdownify }}
                      </p>

                      {{ if .URL}} <a href="{{ .URL | relURL }}" class="btn btn-outline-light">{{.label}}</a> {{ end }}
                  </div>
                  {{ end }}
              </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- /partner -->
  
{{ end }}
{{ end }}

{{ partial "banner-anmelden.html" . }}

{{ end }}
