{{ define "main" }}

{{ with .Params.lead }}
  {{ partial "lead.html" . }}
{{ end }}


{{ if site.Params.contact.enable }}
<!-- contact -->
<section class="section contact-form my-5">
  <div class="container">
    <div class="row">

      <div class="col-lg-9 offset-lg-3">
            <form id="contactform" action="{{site.Params.contact.form_action}}" method="POST" >

              <div class="mb-4">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="anrede_frau" name="anrede" value="Frau" class="custom-control-input" required>
                    <label class="custom-control-label" for="anrede_frau">Frau</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="anrede_herr" name="anrede" value="Herr" class="custom-control-input">
                    <label class="custom-control-label" for="anrede_herr">Herr</label>
                  </div>
                </div>


              <input type="text" id="name" name="name" placeholder="Name *" class="form-control form-control-lg  mb-4" required>

              <input type="text" id="vorname" name="vorname" placeholder="Vorname *" class="form-control form-control-lg  mb-4" required>

              <input type="text" id="firma" name="firma" placeholder="Firma" class="form-control form-control-lg  mb-4">

              <input type="email" id="email" name="email" placeholder="E-Mail *" class="form-control form-control-lg mb-4" required>

              <input type="text" id="telefon" name="telefon" placeholder="Telefon" class="form-control form-control-lg mb-4">

              <input type="text" name="fortytwo">

              <textarea name="message" id="nachricht" class="form-control form-control-lg mb-4"
                placeholder="Nachricht"></textarea>

                <div class="custom-control custom-checkbox mb-4">
                    <input type="checkbox" class="custom-control-input" id="agb_check" required>
                    <label class="custom-control-label small" for="agb_check">Ich habe die <a href="/datenschutz" target="_blank" rel="noopener">Nutzungsbedingungen</a> der Website gelesen und bin damit einverstanden.
                      </label>
                  </div>

              <button class="btn btn-outline-primary  py-3 px-5 ">Senden</button>

          </form>
       </div>
    </div>
  </div>
</section>
<!-- /contact -->
{{ end }}




{{ end }}
